
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;
  margin: 0 10vw;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.input-group label {
  font-size: 1.5rem;
  color: white;
  margin-right: 10px;
  white-space: nowrap;
}

.input-group input {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 100%;
}

.button{
  all: unset; 
  text-align: center;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}

.button:hover {
  background-color: #248bfa;
}

.register-login {
  all: unset; 
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}

.register-login:hover {
  background-color: #1f2122;
}

.logo-container {
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container img {
  width: 150px;
  height: auto;
  animation: spin 10s linear infinite;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
