:root {
  --color-background-main: #242424;
  --color-text-title: white;
  --color-text-label: white;
  --color-input-background: white;
  --color-input-text: black;
  --color-button-primary: #007bff;
  --color-button-primary-hover: #248bfa;
  --color-button-secondary: transparent;
  --color-button-secondary-hover: #1f2122;
  --color-text-button: white;
  --color-box-shadow-button: rgba(255, 255, 255, 0.5);
}

.light-mode {
  --color-background-main: #f0f0f0;

  --color-text-title: #1a1a1a; 
  --color-text-label: #1a1a1a;
  --color-input-text: #1a1a1a;

  --color-input-background: #ffffff;
  
  --color-button-secondary: transparent;
  --color-button-secondary-hover: #dddddd;

  --color-box-shadow-button: rgba(0, 0, 0, 0.3);

  --color-text-button: white; 
  --color-button-primary: #007bff;
  --color-button-primary-hover: #248bfa;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;
  margin: 0 10vw;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-text-title);
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.input-group label {
  font-size: 1.5rem;
  margin-right: 10px;
  white-space: nowrap;
  color: var(--color-text-label); 
}

.input-group input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--color-input-background); 
  color: var(--color-input-text);
}

.button{
  all: unset; 
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-button-primary); 
  color: var(--color-text-button);
  box-shadow: 0 0 0 1px var(--color-box-shadow-button) inset;
}

.button:hover {
  background-color: var(--color-button-primary-hover);
}

.register-login {
  all: unset; 
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-button-secondary);
  color: var(--color-text-label);
  box-shadow: 0 0 0 1px var(--color-box-shadow-button) inset;
}

.register-login:hover {
  background-color: var(--color-button-secondary-hover);
}

.logo-container {
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container img {
  width: 150px;
  height: auto;
  animation: spin 10s linear infinite;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}