:root {
  --color-background-modal: #27272a;
  --color-background-overlay: black;
  --color-background-button: #333;
  --color-background-button-hover: #444;
  --color-background-status-option: #414041;

  --color-text-default: white;
  --color-border-input-focus: white;
  --color-border-input-default: white;
  --color-border-button: #555;
}

.light-mode {
  --color-background-modal: #ffffff;
  --color-background-overlay: #1a1a1a;
  --color-background-button: #f0f0f0;
  --color-background-button-hover: #dddddd;
  --color-background-status-option: #dddddd;
  
  --color-text-default: black;
  --color-border-input-focus: #1a1a1a;
  --color-border-input-default: #bbbbbb;
  --color-border-button: #bbbbbb;
}
input {
  all: unset;
}

.form-modal-container {
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-modal); 
  color: var(--color-text-default);
  padding: 45px 20px 20px 20px;
  border-radius: 24px;
}

.overlay-background {
  position: fixed;
  inset: 0;
  background-color: var(--color-background-overlay); 
  opacity: 0.5;
  z-index: 0;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 7px;
}

.form-label-description {
  margin-bottom: 10px;
}

.form-input-field {
  margin: 2px;
  word-wrap: break-word;
  padding: 3px;
}

.form-input-field:focus {
  margin:0;
  border: 2px var(--color-border-input-focus) solid; 
  border-radius: 5px;
}

.input-description {
  margin: 0;
  padding: 0 5px;
  width: 100%;
  resize: none;
  border: solid var(--color-border-input-default) 2px; 
  border-radius: 5px;
  min-height: 52px;
  field-sizing: content;
}


.form-submit-button{
  height: 40px;
  padding: 0 20px;
  background-color: var(--color-background-button); 
  color: var(--color-text-default); 
  border-radius: 12px;
  border: solid 3px var(--color-border-button); 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.form-submit-button:hover {
  background-color: var(--color-background-button-hover);
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.quit {
  position: absolute;
  top: 10px;
  right:50px
}

.quit-add {
  position: absolute;
  top: 10px;
  right: 15px
}

.quit:hover, .quit-add:hover {
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 12px;
  right: 18px
}

.delete:hover {
  cursor: pointer;
}

.status {
  position: absolute;
  top: 15px;
  left: 20px;
}

.status-option {
  color: var(--color-text-default); 
  background-color: var(--color-background-status-option); 
}


@media (max-width: 600px) {
  .form-modal-container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .form-modal-container {
    width: auto;
  }
}