:root {
  --color-background-body: #242424;
  --color-background-todo-card: #404141;
  --color-background-todo: rgb(43, 42, 42);
  --color-background-header: #1a1a1a;
  --color-background-title: #1a1a1a;
  --color-background-dropdown-menu: #1a1a1a;
  --color-background-menu-child: #333;
  --color-background-menu-child-hover: #444;
  --color-background-searchbar: #f2f2f2;
  --color-text-general: white;
  --color-border-searchbar: #555;
}

.light-mode {
  --color-background-body: #f0f0f0;
  --color-background-todo-card: #ffffff;
  --color-background-todo: #eaeaea;
  --color-background-header: #e0e0e0;
  --color-background-title: #e0e0e0;
  --color-background-dropdown-menu: #e0e0e0;
  --color-background-menu-child: #f0f0f0;
  --color-background-menu-child-hover: #dddddd;
  --color-background-searchbar: #ffffff;
  --color-text-general: #1a1a1a;
  --color-border-searchbar: #bbbbbb;
}

#root {
  width: 100%;
  height: 100%;
}

#body {
  background-color: var(--color-background-body);
}


.todo-card {
  width: auto;
  cursor: grab;
  border-radius: 8px;
  color: var(--color-text-general);
  background-color: var(--color-background-todo-card);
}

.card-description {
  padding: 5px 8px;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw 3vh 2vw;
}

.todoContainer {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  width: auto;
  height: 100%;
  align-items: flex-start;
}

.todo {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  background-color: var(--color-background-todo);
  padding: 15px;
  min-height: 165px;
}

.todo-title {
  font-weight: bolder;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--color-text-general);
}

.card-header {
  display: flex;
  justify-content: space-between;

  border-radius: 8px 8px 0 0;
  padding: 5px 10px;
  background-color: var(--color-background-title);
}

.card-menu{
  display: flex;
  align-items: start;
  padding-left: 5px;
}

.card-title {
  color: var(--color-text-general);
  font-weight: bold;
  font-size: 1.1rem;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 5px 5px;
}
.card-time {
  font-size: 0.8rem;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 0 5px 5px 5px;
}

.card-title, .card-description {
  overflow-wrap: break-word; 
  word-wrap: break-word;
  word-break: break-all;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 3vh 0;
  padding: 15px 10px 15px 10px;
  border: solid 5px transparent;
  border-radius: 30px;
  background: linear-gradient(var(--color-background-header), var(--color-background-header)) padding-box, linear-gradient(to right, rgb(240, 228, 228), rgb(179, 211, 211), rgb(238, 218, 164), rgb(240, 241, 176), rgb(238, 173, 219)) border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  min-width: 200px;
  height: 60px;
}

#searchbar {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border: solid 3px var(--color-border-searchbar);
  padding: 5px 50px 5px 15px;
  margin-right: 15px;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--color-background-searchbar);
  transition: all 0.3s ease;
}

#searchbar:focus {
  border-color: white;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.search-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

img.headerImg {
  width: 80px;
  height: auto;
  animation: spin 10s linear infinite;
}

.dropdown-menu-toggle:hover {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 110px;
  right: 55px;
  background-color: var(--color-background-dropdown-menu);
  border: solid 2px var(--color-border-searchbar);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.menuChild {
  height: 40px;
  width: auto;
  padding: 0 15px;
  gap: 5px;
  background-color: var(--color-background-menu-child);
  color: var(--color-text-general);
  border-radius: 10px;
  border: solid 2px var(--color-border-searchbar);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.menuChild:hover {
  background-color: var(--color-background-menu-child-hover);
}

.btn-create {
  height: 45px;
  padding: 0 15px;
  gap: 5px;
  background-color: var(--color-background-menu-child);
  color: var(--color-text-general);
  border-radius: 15px;
  border: solid 3px var(--color-border-searchbar);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover {
  background-color: var(--color-background-menu-child-hover);
}

.btn-update {
  height: 30px;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.createandmenu {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 650px) {
  img {
    display: none;
  }
}

@media (max-width: 515px) {
  .dropdown-menu {
    top: 160px;
    right: 60px;
  }
}

@media (max-width: 490px){
  #searchbar{
    margin: 0;
  }
  .search-icon{
    right: 10px;
  }
}

@media (max-width: 531px) {
  .createandmenu {
    margin-top: 5px;
  }
}