#root {
  width: 100%;
  height: 100%;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw 3vh 2vw;
}

.todoContainer {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  width: auto;
  height: 100%;
  align-items: flex-start;
}

.todo {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: auto;
  border-radius: 15px;
  background-color: rgb(43, 42, 42);
  padding: 15px;
  min-height: 165px;
}

.todo-card {
  width: auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 3vh 0;
  padding: 15px 5px 15px 5px;
  border: solid 5px transparent;
  border-radius: 30px;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box, linear-gradient(to right, rgb(240, 228, 228), rgb(179, 211, 211), rgb(238, 218, 164), rgb(240, 241, 176), rgb(238, 173, 219)) border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  min-width: 200px;
  height: 60px;
}

#searchbar {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border: solid 3px #555;
  padding: 5px 50px 5px 15px;
  margin-right: 15px;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1rem;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

#searchbar:focus {
  border-color: white;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.search-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

img.headerImg {
  width: 80px;
  height: auto;
  animation: spin 10s linear infinite;
}

.dropdown-menu-toggle:hover {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 110px;
  right: 55px;
  background-color: #1a1a1a;
  border: solid 2px #555;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.menuChild {
  height: 40px;
  width: auto;
  padding: 0 15px;
  gap: 5px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  border: solid 2px #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.menuChild:hover {
  background-color: #444;
}

.btn-create {
  height: 45px;
  padding: 0 15px;
  gap: 5px;
  background-color: #333;
  color: white;
  border-radius: 15px;
  border: solid 3px #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover {
  background-color: #444;
}

.btn-update {
  height: 30px;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.createandmenu {
  display: flex;
  align-items: center;
  gap: 15px;
}



@media (max-width: 650px) {
  img {
    display: none;
  }
}

@media (max-width: 515px) {
  .dropdown-menu {
    top: 160px;
    right: 60px;
  }
}

@media (max-width: 531px) {
  .createandmenu {
    margin-top: 5px;
  }
}